@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

* {
    color: black;    
}

body {
    background: #B9B7BD;    
}
li i {
    margin-right: 10px;
}
.top-bar {
    position: sticky;   
    z-index: 99999;
    width: 100%;
    width: -webkit-fill-available;
}

.booking {
   margin-top: 5px;    
}
.brand {
    text-align: center;
}

.brandIcons {  
    display: contents; 
 
}
.week-earn i,
.year-earn i {
    color: green;
    justify-items: center;
}
.month-earn i {
    color: orange;
}
/*---------------------------------------------Media Queries*/


/* small Screens*/
@media screen and (max-width: 370px) {
    .brand {
        text-align: center;
    }
    .brandSearch {
        display: none;
    }
    .brandSearch ul {
        display: none;
    }
    .brandIcons a {
        display: none;
             
    }
    .navbar-vertical {
        width: 120px;
        z-index: 99999;
    }


}     
 
  @media screen and (max-width: 600px) {
   
    .brandSearch ul {
        display: none;
    }
   
    .brandIcons a {
          display: none;
    }
    .navbar-vertical {
        width: 120px;
        z-index: 99999;
    }  
    
    .task {
        width: 100%;
    }
  }
  /* Medium Screens*/

  @media only screen and (min-width: 768px) {
    .top-bar col {
        flex: none;
    }
   .brand .brandSearch {
    width: 85px;
   }
    
    .brandSearch li {
        display: none;
    }
   
    .brandIcons a {
        display: contents;
    }   
   
  }

